body{
  height: 100vh;
  width: 100vw;
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

div{
  margin: 0 auto;
  color: white;
  align-items: center;
  text-align: center;

}
h3{
    margin-bottom: 30px;
}

hr{
  border: none;
  height: 6px;
  /* Set the hr color */
  color: white; /* old IE */
  background: white;
  width: 40%;
}
